@charset "UTF-8";

:root {
  /* フォント指定 */
  --fontMain:"Zen Kurenaido", sans-serif;
  --fontAccent: "Zen Maru Gothic", sans-serif;
  
  /* 色の指定 */
  --colorFontGreen: #2A5235;
  --colorBaseGreen: #E8ECEA;
  --colorBaseWhite: #F5F5F5;
  --colorBaseFooter: #3A6346;
  --colorBaseGreen02: #1B2820;
  --colorBaseGreen03: #C6DAC6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--colorFontGreen);
  font-family: var(--fontMain);
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

.linkButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  border: 1.5px solid var(--colorFontGreen);
  border-radius: 5px;
  color: var(--colorFontGreen);
  font-family: inherit;
  font-size: 14px;
  font-weight: 580;
  letter-spacing: .3em;
  background-color: transparent;
  transition: all 0.3s ease;
}

.linkButton:hover {
  background-color: var(--colorFontGreen);
  color: #FFF;
}


.footerInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px ;
  background-color: #3A6346;
}

.footerTitle {
  color: #fff;
  font-size: 24px;
  margin-bottom: 50px;
}

.footerText {
  color: #C2C2C2;
  max-width: 400px;
  margin-bottom: 20px;
}

.copyright {
  color: #C2C2C2;
}
