@charset "UTF-8";

:root {
  /* フォント指定 */
  --fontMain:"Zen Kurenaido", sans-serif;
  --fontAccent: "Zen Maru Gothic", sans-serif;
  
  /* 色の指定 */
  --colorFontGreen: #2A5235;
  --colorBaseGreen: #E8ECEA;
  --colorBaseWhite: #F5F5F5;
  --colorBaseFooter: #3A6346;
  --colorBaseGreen02: #1B2820;
  --colorBaseGreen03: #C6DAC6;
  --colorAccent: #8f5687;
  /* --colorIcon: #3bce71; */
  --colorIcon: #92AF9A;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--colorFontGreen);
  font-family: var(--fontMain);
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

/* サイドメニュ */
.sideButton {
  display: block;
  width: 60px;
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  z-index: 3;
}
/* ハンバーガーアイコン */
.sideButton div {
  height: 5px;
  width: 60%;
  background-color: var(--colorIcon);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: ease-out .5s;
  border-radius: 2px;
  /* filter: drop-shadow(0 1px 3px rgba(219, 186, 20, 0.5)); */
}
.sideButton div:nth-last-of-type(1) {
  transform: translate(-50%, -15px);
}
.sideButton div:nth-last-of-type(3) {
  transform: translate(-50%, 10px);
}

.sideButton.active div:nth-last-of-type(1) {
  transform: rotate(-45deg) translate(-50%, 0%);
  transform-origin: 0% 50%;
  width: 65%;
}
.sideButton.active div:nth-last-of-type(2) {
  opacity: 0;
  transform: translate(-100%, -50%);
}
.sideButton.active div:nth-last-of-type(3) {
  transform: rotate(45deg) translate(-46%, 0%);
  transform-origin: 0% 50%;
  width: 65%;
}



/* サイドバー */
nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 200vh;
  padding: 90px 0 100px;
  background-color: var(--colorBaseGreen03);
  transform: translate(100%);
  transition: .5s;
  z-index: 2;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 100%;
}

nav.active {
  transform: translate(0%);
}

.sideBar a {
  color: var(--colorFontGreen);
  font-family: var(--fontAccent);
  font-size: 24px;
  letter-spacing: .1em;
  text-shadow: 0 0 2 #1B2820;
}

.linkButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  border: 1.5px solid var(--colorAccent);
  border-radius: 5px;
  color: var(--colorAccent);
  font-family: inherit;
  font-size: 14px;
  font-weight: 580;
  letter-spacing: .3em;
  background-color: transparent;
  transition: all 0.3s ease;
}

.linkButton:hover {
  background-color: var(--colorAccent);
  color: #FFF;
}


.footerInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px ;
  background-color: var(--colorBaseFooter);
}

.footerTitle {
  color: #fff;
  font-size: 36px;
  margin-bottom: 70px;
}

.footerText {
  color: #C2C2C2;
  max-width: 400px;
  margin-bottom: 50px;
}

.copyright {
  color: #C2C2C2;
}
