@charset "UTF-8";

:root {
  /* フォント指定 */
  --fontMain:"Zen Kurenaido", sans-serif;
  --fontAccent: "Zen Maru Gothic", sans-serif;
  
  /* 色の指定 */
  --colorFontGreen: #2A5235;
  --colorFontWhite: #f5f5f5;
  --colorBaseGreen: #E8ECEA;
  --colorBaseWhite: #F5F5F5;
  --colorBaseFooter: #3A6346;
  --colorBaseGreen02: #1B2820;
  --colorBaseGreen03: #C6DAC6;
  --colorIcon: #92AF9A;
}

h2 {
  color: var(--colorFontWhite);
  font-family: var(--fontAccent);
  font-size: 36px;
  margin: 20px 0px 200px;
  letter-spacing: .1em;
  /* text-shadow: 0 0 2 #1B2820; */
}

h3 {
  color: var(--colorFontWhite);
  font-size: 24px;
  margin-bottom:35px;
  letter-spacing: .1em;
}

p {
  color: #C2C2C2;
  letter-spacing: 0.1em;
  line-height: 1.3;
}



.splide {
  height: auto;
}

.splide__track,
.splide__slide {
  height: 100%;
}

.splide__slide img {
  width: 100%;
  /* max-width: 750px; */
  height: auto;
  aspect-ratio: 4/3;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  box-shadow: 2px 2px 10px rgba(241, 250, 234, 0.4);
}

.topGaparea {
  height: 80px;
  background-color: var(--colorBaseGreen);
}

.historyPage {
  background-color: var(--colorBaseGreen02);
  padding: 50px 10px;
}

.historyPage h2 {
  text-align: center;
}

.historyPage h2::after {
  content: "";
  display: block;
  margin: 12px auto;
  width: 150px;
  height: 1.2px;
  background-color: var(--colorFontWhite);
}

.section1{
  margin-bottom: 200px;
}

.sectionText {
  max-width: 650px;
  margin: 0 auto 60px;
}

.sectionText p + p {
  margin-top: 1.3em;
}

.historyPage h3 {
  text-align: center;
}

.splideHistory .splide__pagination {
  bottom: -40px;
}

.splideHistory .splide__pagination__page.is-active {
  background-color: var(--colorFontGreen);
}
