@charset "UTF-8";

:root {
  /* フォント指定 */
  --fontMain:"Zen Kurenaido", sans-serif;
  --fontAccent: "Zen Maru Gothic", sans-serif;
  
  /* 色の指定 */
  --colorFontGreen: #2A5235;
  --colorFontWhite: #f5f5f5;
  --colorBaseGreen: #E8ECEA;
  --colorBaseWhite: #F5F5F5;
  --colorBaseFooter: #3A6346;
  --colorBaseGreen02: #1B2820;
  --colorBaseGreen03: #C6DAC6;
  --colorIcon: #92AF9A;
}


h2 {
  color: var(--colorFontGreen);
  font-family: var(--fontAccent);
  font-size: 36px;
  margin: 20px 0px;
  letter-spacing: .1em;
  text-shadow: 0 0 2 #1B2820;
}

h3 {
  color: var(--colorFontGreen);
  font-size: 24px;
  margin: 20px 0px;
  letter-spacing: .1em;
}

p {
  color: #363333;
  letter-spacing: 0.1em;
  line-height: 1.3;
}


/* メインビジュアル */
.topContents {
  position: relative;
  width: 100%;
}

.topTitle {
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 10;
  pointer-events: none;
  color: #fff;
  font-size: 40px;
  /* -webkit-text-stroke: 1px rgba(0, 0, 0, 0.4);
  paint-order: stroke fill; */
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.8);
  writing-mode: vertical-rl;
  letter-spacing: 0.3em;
  line-height: 1.2;
}


.splide__track,
.splide__slide {
  height: 100%;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* mainVisual */
.topContents .splide {
  height: 60vh;
}


.topGaparea {
  height: 80px;
  background-color: var(--colorBaseGreen);
}


/* Spotセクション */
.spot {
  background-color: var(--colorBaseWhite);
  padding: 50px 0px;
}
.spotWrap {
  max-width: 1050px;
  margin: 0px auto;
  padding: 0 20px;
}

.spot1 {
  display: flex;
  gap: 50px;
  padding: 50px 0px;
  /* align-items: stretch; */
}

.spot1:nth-child(odd) {
  flex-direction: row-reverse;
}

.spotInner {
  display: flex;
  flex-direction: column;
}

.linkButton {
  margin: auto;
}

.spot1 img {
  width: 50%;
  aspect-ratio: 4 / 3;
  flex-shrink: 0;
  object-fit: cover;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}


/* historyセクション */
.history {
  background-color: var(--colorBaseGreen);
  padding: 50px 0px;
}
.historyWrap {
  max-width: 1050px;
  margin: 0px auto;
  padding: 0 20px;
}

.historyContainer {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 50px 0px;
}

.historylinkButton {
  margin-top: 40px;
  text-align: center;
}

.historyContainer .splide__slide {
  padding: 15px;
  box-sizing: border-box;
}

.historyContainer .splide__slide img {
  width: 100%;
  height: auto;
  aspect-ratio: 4/5;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

#historyMedia,
#historyText {
  flex: 1;
  width: 60%;
  margin: -15px;
}



/* galleryセクション */
.gallery {
  background-color: var(--colorBaseWhite);
  padding: 50px 0px;
}

.gallery h2{
  max-width: 1050px;
  margin: 20px auto;
  padding: 0 20px;
}

.gallery .splide {
  height: auto;
  padding: 50px 0px;
}

.gallery .splide__slide img {
  width: 100%;
  /* max-width: 750px; */
  height: auto;
  aspect-ratio: 4/3;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}


.gallerylinkButton {
  margin: 30px auto;
  text-align: center;
}


/* モバイル表示 */
@media (max-width: 800px) {
  .spot1 {
    flex-direction: column;
    gap: 20px;
    padding: 50px 0px;
    align-items: center;
  }
  .spot1:nth-child(odd) {
  flex-direction: column;
  }
  .spotInner .linkButton {
  margin-top: 40px;
  }
  .spot1 img {
    width: 100%;
    aspect-ratio: 4 / 3;
  }
  .spotWrap .spot1:nth-of-type(2) img {
    max-width: 440px;
  }
  .historyContainer {
    flex-direction: column;
    gap: 20px;
  }

  #historyMedia,
  #historyText {
    width: 100%;
  }
}
