@charset "UTF-8";

:root {
  /* フォント指定 */
  --fontMain:"Zen Kurenaido", sans-serif;
  --fontAccent: "Zen Maru Gothic", sans-serif;
  
  /* 色の指定 */
  --colorFontGreen: #2A5235;
  --colorFontWhite: #f5f5f5;
  --colorBaseGreen: #E8ECEA;
  --colorBaseWhite: #F5F5F5;
  --colorBaseFooter: #3A6346;
  --colorBaseGreen02: #1B2820;
  --colorBaseGreen03: #C6DAC6;
  --colorAccent: #8f5687;
  /* --colorIcon: #92AF9A; */
}


h2 {
  color: var(--colorFontGreen);
  font-family: var(--fontAccent);
  font-size: 36px;
  margin: 20px 0px;
  letter-spacing: .1em;
  text-shadow: 0 0 2 #1B2820;
}

h3 {
  color: var(--colorFontGreen);
  font-size: 24px;
  margin: 20px 0px;
  letter-spacing: .1em;
}

p {
  color: #363333;
  letter-spacing: 0.1em;
  line-height: 1.3;
}

.splide__track,
.splide__slide {
  height: 100%;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* メインビジュアル */
.topContents {
  position: relative;
  width: 100%;
}

.topTitle {
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 10;
  pointer-events: none;
  color: #fff;
  font-size: 40px;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.8);
  writing-mode: vertical-rl;
  letter-spacing: 0.3em;
  line-height: 1.2;
}

.topContents .splide {
  height: 75vh;
}

.topContents .splide__slide {
  position: relative;
}

/* 起動時にメインビジュアルをフェードインさせる処理 */
#mainVisual {
  opacity: 0;
  transition: opacity 5s cubic-bezier(0.25, 1, 0.5, 1);
}

#mainVisual.isLoaded {
  opacity: 1;
}

/* メインビジュアルに影をつける処理 */
.topContents .splide__slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to right, transparent 30%, rgba(255, 255, 255, 0.5) 100%); */
  /* background: linear-gradient(to right, transparent 30%, rgba(240, 233, 238, 0.5) 100%); */
  background: linear-gradient(to right, transparent 20%, rgba(40, 18, 0, 0.4) 100%);
  pointer-events: none;
}




/* siteConcept セクション */
.siteConcept {
  padding: 0 10px;
  height: 25vh;
  min-height: 150px;
  background-color: var(--colorBaseGreen);
  display: flex;
  justify-content: center;
  align-items: center;
}
.siteConcept p {
  color: var(--colorFontGreen);
}
.conceptTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conceptText01 {
  font-size: 20px;
}

.conceptText02 {
  margin-top: 15px;
  font-size: 12px;
  letter-spacing: 0.2em;
}

/* 初回ロード時のフェードインの動き */
/* ワイプ表現によるフェードイン(グラデーションマスク・ワイプ)処理 */
.conceptText01,
.conceptText02 {
  mask-image: linear-gradient(to right, #000 0%, #000 35%, transparent 65%, transparent 100%);
  mask-size: 300% 100%;
  mask-position: 100% 0;
  transition: mask-position 5s ease-out;
}

.conceptTextContainer.isActive .conceptText01{
  mask-position: 0 0;
  transition-delay: 1.3s;
}

.conceptTextContainer.isActive .conceptText02{
  mask-position: 0 0;
  transition-delay: 1.8s;
}



/* Spotセクション */
.spot {
  background-color: var(--colorBaseWhite);
  padding: 50px 0px;
}
.spotWrap {
  max-width: 1050px;
  margin: 0px auto;
  padding: 0 20px;
}

.spot1 {
  display: flex;
  gap: 50px;
  padding: 50px 0px;
  /* align-items: stretch; */
}

.spot1:nth-child(odd) {
  flex-direction: row-reverse;
}

.spotInner {
  display: flex;
  flex-direction: column;
}

.linkButton {
  margin: auto;
}

.spot1 img {
  width: 50%;
  aspect-ratio: 4 / 3;
  flex-shrink: 0;
  object-fit: cover;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}


/* 初回ロード時のフェードインの動き */
.fadeIn {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fadeIn.isActive {
  opacity: 1;
  transform: translateY(0);
}

.slideInLeft {
  opacity: 0;
  transform: translateX(-40px); /* 最初は左に40pxずらしておく */
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.slideInLeft.isActive {
  opacity: 1;
  transform: translateX(0);     /* 元の位置に戻す */
}

.slideInRight {
  opacity: 0;
  transform: translateX(40px); /* 最初は右に40pxずらしておく */
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.slideInRight.isActive {
  opacity: 1;
  transform: translateX(0);     /* 元の位置に戻す */
}


/* Map dialog の動き */
.mapDialog {
  width: 90%;
  max-width: 500px;
}



/* historyセクション */
.history {
  background-color: var(--colorBaseGreen);
  padding: 50px 0px;
}
.historyWrap {
  max-width: 1050px;
  margin: 0px auto;
  padding: 0 20px;
}

.historyContainer {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 50px 0px;
}

.historylinkButton {
  margin-top: 60px;
  text-align: center;
}

.historyContainer .splide__slide {
  padding: 15px;
}

/* スライダーのスライダーバーの位置調整 */
.historyContainer .splide__pagination {
  bottom: -10px;
}
/* スライダーのスライダーバーの色変更 */
.historyContainer .splide__pagination__page.is-active {
  background-color: var(--colorFontGreen);
}

.historyContainer .splide__slide img {
  width: 100%;
  height: auto;
  aspect-ratio: 4/5;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

#historyMedia {
  width: 60%;
}
#historyText {
  width: 40%;
}



/* galleryセクション */
.gallery {
  background-color: var(--colorBaseWhite);
  padding: 50px 0px;
}

.gallery h2{
  max-width: 1050px;
  margin: 20px auto;
  padding: 0 20px;
}

.gallery .splide {
  height: auto;
  padding: 50px 0px;
}

.gallery .splide__pagination {
  bottom: -10px;
}

.gallery .splide__pagination__page.is-active {
  background-color: var(--colorFontGreen);
}


.gallery .splide__slide img {
  width: 100%;
  /* max-width: 750px; */
  height: auto;
  aspect-ratio: 4/3;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}


.gallerylinkButton {
  margin: 60px auto 30px;
  text-align: center;
}


/* モバイル表示 */
@media (max-width: 800px) {
  .spot1 {
    flex-direction: column;
    gap: 20px;
    padding: 50px 0px;
    align-items: center;
  }
  .spot1:nth-child(odd) {
  flex-direction: column;
  }
  .spotInner .linkButton {
  margin-top: 60px;
  }
  .spot1 img {
    width: 100%;
    aspect-ratio: 4 / 3;
  }
  .spotWrap .spot1:nth-of-type(2) img {
    max-width: 440px;
  }
  .historyContainer {
    flex-direction: column;
    gap: 20px;
  }

  #historyMedia,
  #historyText {
    width: 100%;
  }
}
